textarea{
	width: 60%;
	height: 100px;
	resize: none;
}

#subcom{
	width: 150px;
	height: 30px;
	border:  none;
	color: white;
	background-color: #3F473B;
}

.thoughtpic{
	width: 65%;
	margin-top:2%;
}

.comment-box{

	width:815px;
	padding: 20px;
	margin-bottom: 20px;
	margin-left: 60%;

	background-color: #b3b3b3;
	border-radius: 4px;
	font-weight: 100;
}

.comment-box p{
	font-family:arial;
	font-size: 14px;
	line-height: 16px;
	color: #282828;
}