#suggestionLabel {
	font-style: italic;
	color: black;
	font-weight: bolder;
}

body {
	padding-bottom: 110px;
	background-image: url('Images/gplaypattern.png');
	background-attachment: fixed;
}

table {
	width: 100%;
	border-color: #f4511e;
}

th {
	text-align: center;
	background-color: #f4511e;
}

tr {
	padding: 5px;
	background-color: white;
	height: 10px;
	border-bottom: 1px solid #ad2525;
}

td:hover {
	background-color: #f4511e;
}

td {
	padding: 15px;
	background-color: white;
	font-family: monospace;
	font-size: 16px;
}

#searchBox {
	display: none;
	right: 210px;
}

.actionDivs {
	position: fixed;
	top: 100px;
	right: 100px;
	left: 600px;
}

#allContacts {
	position: absolute;
	top: -340px;
	left: 510px;
	padding-bottom: 110px;
}

.navbar-custom {
	background-color: #ff0e0e;
	border-color: #ec0000;
}

.navbar {
	margin-bottom: 0;
	background-color: #f4511e;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
	color: #f4511e !important;
	background-color: #fff !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

.navbar-fixed-bottom {
	background-image: url('Images/footer.png');
	background-attachment: fixed;
	min-height: 30px;
	color: white;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 0;
	margin-top: 0;
	background-color: black;
}

footer .glyphicon {
	font-size: 20px;
	padding-bottom: 1px;
	color: #f4511e;
}


/*Buttons*/

.button {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	width: 300px;
}

.button1 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.button1:hover {
	background-color: #4CAF50;
	color: white;
}

.button2 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
	margin-top: 25px;
}

.button2:hover {
	background-color: #4CAF50;
	color: white;
}

.button3 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.button3:hover {
	background-color: #4CAF50;
	color: white;
}

.button4 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.button4:hover {
	background-color: #4CAF50;
	color: white;
}

.button5 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.button5:hover {
	background-color: #4CAF50;
	color: white;
}



.phaz {
	text-align: center;
	color: #6f932c;
}

.askform{
	margin: 0 auto;
	width:50%;
}

.askfont{
	text-align:center;
}

